/docker-hadoop-master.zip
/docker-hive-master
/plugins
/venv
logs
logs
__pycache__
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/latest
logs/scheduler/2025-01-30/operators/tempoagoraoperator.py.log
